{
    auto_https off
    admin off
}

:8080 {
    root * /usr/share/caddy
    file_server {
        precompressed br
    }

    # Handle API requests
    handle /api/* {
        reverse_proxy {$POCKETBASE_URL}
    }

    # Handle access to the Pocketbase Portal
    handle /_/* {
        reverse_proxy {$POCKETBASE_URL}
    }
}