{
    auto_https off
    admin off
}

:8080 {
    root * /usr/share/caddy
    file_server {
        precompressed br
    }

    @missingHeader {
        not header Authorization {$API_KEY}
    }

    @unauthorizedMethods {
        not method GET
        not header Authorization {$API_KEY}
    }

    # reverse proxy GET requests to the posts collection
    handle /api/collections/posts/records* {
        respond @unauthorizedMethods  "Forbidden" 403
        reverse_proxy noongmt.internal:8090
    }

    # Any other requests require the API key
    handle /api/* {
        respond @missingHeader  "Forbidden" 403
        reverse_proxy noongmt.internal:8090
    }
}